@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #0f172a;
  --border: #d0d7df;
  --icon-bg: #ffffff;
}

/* Dark Theme */
.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #e2e8f0;
  --border: #334155;
  --icon-bg: #374151;
}

body {
  background: var(--bg);
  color: var(--text);
}

.loader-overlay {
  opacity: 1;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 137, 137, 0.487);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-all {
  border: 5px solid #f3ebeb;
  border-top: 5px solid #1b335a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  opacity: 1;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
