@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #0f172a;
  --border: #d0d7df;
  --icon-bg: #ffffff;
}

/* Dark Theme */
.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #e2e8f0;
  --border: #334155;
  --icon-bg: #374151;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* LOADER */
.loader-overlay {
  opacity: 1;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(137, 137, 137, 0.487);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-all {
  border: 5px solid #f3ebeb;
  border-top: 5px solid #1b335a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  opacity: 1;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* CALENDAR CSS */
@media (max-width: 480px) {
  /* Month Title */
  .fc .fc-toolbar-title {
    font-size: 1rem !important;
    margin: 0;
  }

  /* Toolbar buttons (reduce spacing) */
  .fc .fc-toolbar-chunk {
    display: flex !important;
    gap: 0.25rem !important;
  }

  .fc-button-group {
    margin: 0px !important;
  }

  /* Today Button */
  .fc .fc-button.fc-today-button {
    font-size: 12px !important;
    padding: 0px 8px !important;
    height: 36px !important;
    line-height: 28px !important;
  }

  /* Prev / Next Buttons */
  .fc .fc-prev-button,
  .fc .fc-next-button {
    width: auto !important;
    height: 36px !important;
    font-size: 1rem !important;
    padding: 0rem 1rem !important;
  }

  /* Reduce toolbar button border radius / padding */
  .fc .fc-button {
    padding: 0.2rem 0.4rem !important;
  }

  /* Shrink day header font */
  .fc .fc-col-header-cell-cushion {
    font-size: 0.75rem !important;
  }

  /* Shrink date numbers */
  .fc .fc-daygrid-day-number {
    font-size: 0.75rem !important;
    padding: 2px !important;
  }
}
