# ------------------------
# SERVER CONFIG
# ------------------------
PORT=5000

# ------------------------
# DATABASE CONFIG
# ------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

# Prisma connection
DATABASE_URL="mysql://"

# ------------------------
# JWT CONFIG
# ------------------------
JWT_SECRET=
REFRESH_TOKEN_SECRET=

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=1d

# ------------------------
# SMTP EMAIL CONFIG (REQUIRED FOR OTP)
# ------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# ------------------------
# OTP CONFIG
# ------------------------
OTP_EXPIRY_MINUTES=5
