# ------------------------
# SERVER CONFIG
# ------------------------
PORT=5000

# ------------------------
# DATABASE CONFIG
# ------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Password@123
DB_NAME=erpdb

# Prisma connection
DATABASE_URL="mysql://erpuser:erppass@localhost:3306/erpdb"

# ------------------------
# JWT CONFIG
# ------------------------
JWT_SECRET=1234abcd567efgh8900ijklmnop
REFRESH_TOKEN_SECRET=1234abcd567efgh8900ijklmnop

ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=1d

# ------------------------
# SMTP EMAIL CONFIG (REQUIRED FOR OTP)
# ------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nirmaljyothisbenny97@gmail.com
SMTP_PASS=ocefaifxvazutspz

# ------------------------
# OTP CONFIG
# ------------------------
OTP_EXPIRY_MINUTES=5
